{% extends 'book/skeleton.html' %}

{% block extra_head %}
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
            processEscapes: true
        },
        "HTML-CSS": { fonts: ["TeX"] }
        });
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js' async></script>

    <style>
        blockquote {
            border: 1px solid #dee2e6;
            padding: 1.0rem 
        }
    </style>

{% endblock %}

{% block title %}
    {{ article.name }} | StatPro
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 my-4 article">
                <h2>
                    {{ article.name }} 
                </h2>
                <span class="badge badge-pill badge-light">{{ article.topic.name }}</span>
                <small class="text-muted">Обновлено: {{ article.change_date }}</small>
                <hr>
                {% autoescape off %}
                    {{ rendered_article }}
                {% endautoescape %}
            </div>
        </div>
    </div>



{% endblock %}