.mk-content {
    padding: 10px 15px;
    color: #444;
    font-size: 16px;
}

.mk-content h1 {
    font-size: 28px;
}

.mk-content h2 {
    font-size: 24px;
}

.mk-content h3 {
    font-size: 20px;
}

.mk-content h4 {
    font-size: 16px;
}

.mk-content blockquote {
    font-size: 16px;
    border-left: 5px solid #099ba5;
    color: rgb(14, 11, 29);
}

.mk-content ul li{
    list-style-type: disc;
    font-size: 16px;
}

