{% extends 'admin/change_form.html' %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'book/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'book/css/markdown-theme.css' %}">
{% endblock %}

{% block object-tools %}
    {{ block.super }}
    <!-- <ul class="object-tools">
        <li>
            <a href="#" data-toggle="modal" data-target="#article-preview-modal">Попередній перегляд</a>
        </li>
    </ul> -->
{% endblock %}

{% block admin_change_form_document_ready %}
    {{ block.super }}

    <!-- <div id="article-preview-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content mk-content">
                ...
            </div>
        </div>
    </div>

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          extensions: ["tex2jax.js"],
          jax: ["input/TeX", "output/HTML-CSS"],
          tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
            processEscapes: true
          },
          "HTML-CSS": { fonts: ["TeX"] }
        });
        // ДЛЯ РЕНДЕРИНГА БЛОКА MathJax.Hub.Queue(["Typeset",MathJax.Hub,document.getElementById('article-preview-modal')]);
      </script> -->

    <!-- Скрипти і стилі для редактору -->
    <script src="{% static 'book/lib/codemirror.js' %}"></script>
    <link rel="stylesheet" href="{% static 'book/lib/codemirror.css' %}">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js"></script> -->
    <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML' async></script> -->
    <!-- Тема редактору -->
    <link rel="stylesheet" href="{% static 'book/theme/idea.css' %}">

    <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'book/js/markdown.min.js' %}"></script>
    <script src="{% static 'book/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'book/article/js/change_form.js' %}"></script> -->

{% endblock %}